<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>RecruitmentManager</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>LinkedinAuthServlet</display-name>
		<servlet-name>LinkedinAuthServlet</servlet-name>
		<servlet-class>com.tolga.login.LinkedinAuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LinkedinAuthServlet</servlet-name>
		<url-pattern>/auth/linkedin/callback/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.tolga.login.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>MappedPackageName</param-name>
		<param-value>com.tolga.model</param-value>
	</context-param>
	<context-param>
		<param-name>DbName</param-name>
		<param-value>recruitment_db</param-value>
	</context-param>
	<context-param>
		<param-name>SmtpEmail</param-name>
		<param-value>E-Mail</param-value>
	</context-param>
	<context-param>
		<param-name>SmtpPass</param-name>
		<param-value>Pass</param-value>
	</context-param>
	<listener>
		<listener-class>com.tolga.listener.GlobalListener</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>TestJobAdvert</display-name>
		<servlet-name>TestJobAdvert</servlet-name>
		<servlet-class>com.tolga.initializer.TestJobAdvert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestJobAdvert</servlet-name>
		<url-pattern>/TestJobAdvert</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ApplicationServlet</display-name>
		<servlet-name>ApplicationServlet</servlet-name>
		<servlet-class>com.tolga.recruitment.ApplicationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApplicationServlet</servlet-name>
		<url-pattern>/ApplicationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RecruitmentManager</display-name>
		<servlet-name>RecruitmentManager</servlet-name>
		<servlet-class>com.tolga.recruitment.RecruitmentManager</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecruitmentManager</servlet-name>
		<url-pattern>/RecruitmentManager</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MailServlet</display-name>
		<servlet-name>MailServlet</servlet-name>
		<servlet-class>com.tolga.mail.MailServlet</servlet-class>
		<async-supported>true</async-supported>
	</servlet>
	<servlet-mapping>
		<servlet-name>MailServlet</servlet-name>
		<url-pattern>/MailServlet</url-pattern>
	</servlet-mapping>
	
</web-app>